.msg {
/*	display: block;
	text-align: center;
	width: 173px;
	background-color: #CCC;
	margin-top: 6px;*/
}

.passwordErrMsg {
	display: block;
}

.wk {
	background-color: red;
}

.avg {
	background-color: orange;
}

.str {
	background-color: blue;
}

.sec {
	background-color: green;
}